In [2]:
# Import Pandas Library
import pandas as pd

In [ ]:
#Import Pandas library & create one direction array
import pandas as pd
s1 = pd.Series(data=[30,6,'yellow','not'],index=['eegs','apple','banana','mango'])

In [11]:
#Get Array output
s1

eegs          30
apple          6
banana    yellow
mango        not
dtype: object

In [12]:
#Check Shape of Array
s1.shape

(4,)

In [13]:
#Check Direction of Array
s1.ndim

1

In [14]:
#Get Indexes
s1.index

Index(['eegs', 'apple', 'banana', 'mango'], dtype='object')

In [16]:
#Get values
s1.values

array([30, 6, 'yellow', 'not'], dtype=object)

In [18]:
#Search array indexes values
'banana' in s1

True

In [26]:
#Search array index in values
s1[['apple','banana']]

apple          6
banana    yellow
dtype: object

In [28]:
#Check Index value
s1.index[3]

'mango'

In [29]:
#Search array index in values loc option
s1.loc[['apple','banana']]

apple          6
banana    yellow
dtype: object

In [ ]:
#Update values in Array
s1['eegs'] = 2

In [34]:
s1

eegs           2
apple          6
banana    yellow
mango        not
dtype: object

In [38]:
#Drop element in Array
s1.drop('apple')

eegs           2
banana    yellow
mango        not
dtype: object

In [36]:
#Print optinal Array
s1

eegs           2
apple          6
banana    yellow
mango        not
dtype: object

In [40]:
# Import Pandas library
import pandas as pd
# Create array element
fruits = pd.Series([10,6,3],['apple','orange','banana'])

In [63]:
# Execute Array Operation
fruits

apple     202
orange    198
banana    195
dtype: int64

In [64]:
# Manipualte the Array Element
fruits = fruits + 2

In [66]:
fruits

apple     204
orange    200
banana    197
dtype: int64

In [67]:
fruits = fruits - 3

In [69]:
fruits

apple     201
orange    197
banana    194
dtype: int64

In [71]:
import numpy as np
np.sqrt(fruits)

apple     14.177447
orange    14.035669
banana    13.928388
dtype: float64

In [72]:
np.exp(fruits)

apple     1.964223e+87
orange    3.597601e+85
banana    1.791140e+84
dtype: float64

In [74]:
np.power(fruits,2)

apple     40401
orange    38809
banana    37636
dtype: int64

In [75]:
fruits['apple']+2

np.int64(203)

In [76]:
fruits.iloc[0]-2

np.int64(199)

In [77]:
fruits.loc[['apple','orange']]/2

apple     100.5
orange     98.5
dtype: float64

In [79]:
#Create data Framework
items = {
    'nisal' : pd.Series([245,25,55],['book','pen','watch']),
    'kamal' : pd.Series([410,26,85],['bikk','ret','catch']),
}

In [88]:
type(items)

dict

In [92]:
shopping_cart = pd.DataFrame(items)

In [93]:
shopping_cart

       nisal  kamal
bikk     NaN  410.0
book   245.0    NaN
catch    NaN   85.0
pen     25.0    NaN
ret      NaN   26.0
watch   55.0    NaN

In [94]:
shopping_cart.index

Index(['bikk', 'book', 'catch', 'pen', 'ret', 'watch'], dtype='object')

In [95]:
shopping_cart.columns

Index(['nisal', 'kamal'], dtype='object')

In [96]:
shopping_cart.values

array([[ nan, 410.],
       [245.,  nan],
       [ nan,  85.],
       [ 25.,  nan],
       [ nan,  26.],
       [ 55.,  nan]])

In [97]:
shopping_cart.shape

(6, 2)

In [98]:
shopping_cart.size

12

In [99]:
shopping_cart.ndim

2

In [103]:
nisal_shopping_cart = pd.DataFrame(items,columns = ['nisal'])
nisal_shopping_cart

       nisal
book     245
pen       25
watch     55

In [104]:
kamal_shopping_cart = pd.DataFrame(items,columns = ['kamal'])
kamal_shopping_cart

       kamal
bikk     410
ret       26
catch     85

In [105]:
book_pen_cart = pd.DataFrame(items, index = ['book','pen'])
book_pen_cart

      nisal  kamal
book    245    NaN
pen      25    NaN

In [107]:
nisal_book = pd.DataFrame(items, index = ['book'],columns=['nisal'])
nisal_book

      nisal
book    245

In [110]:
data =  {
    'nisal' : pd.Series([245,25,55]),
    'kamal' : pd.Series([410,26,85]),
}
df =pd.DataFrame(data)
df

   nisal  kamal
0    245    410
1     25     26
2     55     85

In [111]:
data =  {
    'nisal' : pd.Series([245,25,55]),
    'kamal' : pd.Series([410,26,85]),
}
df =pd.DataFrame(data,index = ['book','pen','watch'])
df

       nisal  kamal
book     NaN    NaN
pen      NaN    NaN
watch    NaN    NaN

In [114]:
stores = [{'bikes':20,'watch':35,'cars':50},
          {'bikes':20,'watch':35,'cars':50}]
stores_items = pd.DataFrame(stores, index = ['store 1 ', 'store 2'])
stores_items

          bikes  watch  cars
store 1      20     35    50
store 2      20     35    50

In [116]:
stores_items[['bikes']]

          bikes
store 1      20
store 2      20

In [121]:
stores_items[['bikes','watch']]

          bikes  watch
store 1      20     35
store 2      20     35

In [123]:
stores_items['cars'],['store 1']

(store 1     50
 store 2     50
 Name: cars, dtype: int64,
 ['store 1'])

In [129]:
stores_items['total'] = stores_items['bikes']+ stores_items['watch']+ stores_items['cars']
stores_items

          bikes  watch  cars  total
store 1      20     35    50    105
store 2      20     35    50    105

In [130]:
stores_items

          bikes  watch  cars  total
store 1      20     35    50    105
store 2      20     35    50    105